%header.jumbotron.jumbotron-general
  .container
    %h1.jumbotron-h1
    %p
      .jumbo-title
        %h1
          = @genre.type == 'EventType' ? 'Event' : 'Circle'
        %hr
        %p.lead.jumbo
          - if @genre.type == 'EventType'
            Briefing Party Performance Activity
            %br
            CherryBlossom Camp Watching Others
          - else
            Academic Hobby Art
            %br
            Music Sports Others
.under-jumbotron
.container.index
  %h3.title
    = @genre.type == 'EventType' ? 'Events List' : 'Circles List'
    %span.circle-num
      = @num
      = @genre.type == 'EventType' ? 'events' : 'circles'
  %hr.title
    .circle-list
      %h4
        = @genre.name
      - if @genre.type == 'EventType'
        = render partial: 'events/event', collection: @contents
        .col-xs-12.paginate
          = paginate @contents
      - else
        = render partial: 'circles/circle', collection: @contents
        .col-xs-12.paginate
          = paginate @contents