.container
  .col-lg-3
  .col-lg-6
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f|
      = devise_error_messages!
      %fieldset
        %legend
        - if @status == 1
          %h2 Sign up for Circle Owner
        - else
          %h2 Sign up
        .col-lg-1.col-md-1
        .col-lg-10.col-md-10.circle-new
          .form-group
            = f.label :nickname, class: 'col-lg-4 col-md-4  control-label', for: 'inputNickname'
            .col-lg-8.col-md-8
              = f.text_field :nickname, placeholder: 'nickname', class: 'form-control', id: 'inputNickname'
          .form-group
            = f.label :email, class: 'col-lg-4 col-md-4  control-label', for: 'inputEmail'
            .col-lg-8.col-md-8
              = f.email_field :email, placeholder: 'email', class: 'form-control', id: 'inputEmail'
          .form-group
            = f.label :password, class: 'col-lg-4 col-md-4 control-label', for: 'inputPassword'
            - if @minimum_password_length
              .col-lg-8.col-md-8
                = f.password_field :password, placeholder: "#{@minimum_password_length} characters minimum", autocomplete: "off", class: 'form-control', id: 'inputPassword'
          .form-group
            = f.label :password_confirmation, class: 'col-lg-4 col-md-4 control-label', for: 'inputPasswordConfirmation'
            .col-lg-8.col-md-8
              = f.password_field :password_confirmation, placeholder: 'password confirmation', autocomplete: "off", class: 'form-control', id: 'inputPasswordConfirmation'
          .form-group
            .col-md-4
            .checkbox.col-md-6
              = f.check_box :rule_confirmed, class: 'control-control'
              = link_to '利用規約', '#', class: 'form-label'
              に同意する
            = f.hidden_field :status, value: 'owner' if @status == 1
          .form-group
            .col-lg-10.col-lg-offset-2.col-md-8
              = f.submit 'Sign up', class: 'btn btn-primary'
      = render "devise/shared/links"
