%header.jumbotron.jumbotron-general
  .container
    %h1.jumbotron-h1.jumbo-mypage
    %p.jumbo-top
      = image_tag 'logo.png', class: 'img-responsive center', alt: '新歓MiX'
.under-jumbotron
.container
  .col-lg-2
  .col-lg-8.mypage
    .user-info
      .title
        %h3 User Information
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th.key head
            %th.value content
        %tbody
          %tr
            %td.key nickname
            %td.value
              = @user.nickname
          %tr
            %td.key email
            %td.value
              = @user.email
          %tr
            %td.key Password
            %td.value ********
      = link_to '編集する', edit_user_registration_path, class: 'btn btn-primary edit-button'
      .col-md-6.route
        .panel.panel-event
          .panel-body
            = link_to events_path, class: 'route-btn' do
              = image_tag('event_btn.png')
              .event-type.route
                新歓イベントを探す
      .col-md-6.route
        .panel.panel-event
          .panel-body
            = link_to circles_path, class: 'route-btn' do
              = image_tag('circle_btn.png')
              .event-type.route
                サークルを探す
