.container
  .col-lg-1.col-md-1
  .col-lg-10.col-md-10
    = form_for @event, html: { class: 'form-horizontal' } do |f|
      %fieldset
        %legend
          %h2 Event Information
        .col-lg-2.col-md-2
        .col-lg-8.col-md-8.circle-new
          .form-group
            = f.label :circle, class: 'col-lg-2 col-md-2', for: 'inputCircle'
            .col-lg-10.col-md-10
              .col-lg-12
                = f.radio_button :circle_id, @event.circle.id , {}
                = f.label :"#{@event.circle.name}"
              %span.help-block イベントを投稿するサークルを選択してください
          .form-group
            = f.label :date, class: 'col-lg-2 col-md-2 date-label', for: 'inputDate'
            .col-lg-10.col-md-10
              = f.text_field :date, class: 'form-control'
              %span.help-block 日付を入力してください(登録可能期間
                = EventTerm.in_term.start_date.to_s + '〜' + EventTerm.in_term.finish_date.to_s
                )
          .form-group
            = f.label :event_type_id, class: 'col-lg-2 col-md-2', for: 'inputCircle'
            .col-lg-10.col-md-10
              - @event_types.each do |eve_type|
                .col-lg-12
                  = f.radio_button :event_type_id, eve_type.id
                  = f.label eve_type.name
              %span.help-block イベントの形式を選択してください
          .form-group
            = f.label :meeting_place, class: 'col-lg-2 col-md-2 control-label', for: 'inputName'
            .col-lg-10.col-md-10
              = f.text_field :meeting_place, class: 'form-control', id: 'inputName'
              %span.help-block 集合場所を入力してください
          .form-group
            = f.label :meeting_time, class: 'col-lg-2 col-md-2 control-label', for: 'inputName'
            .col-lg-10.col-md-10.form-time
              = f.time_select :meeting_time, {minute_step: 10}, class: 'form-control select-time'
              %span.help-block.form-time 集合時間を入力してください
          .form-group
            = f.label :fee, class: 'col-lg-2 col-md-2 control-label', for: 'inputName'
            .col-lg-10.col-md-10
              = f.text_field :fee, class: 'form-control', id: 'inputName'
              %span.help-block 料金を入力してください。単位は省略してください。
          .form-group
            = f.label :place, class: 'col-lg-2 col-md-2 control-label', for: 'inputName'
            .col-lg-10.col-md-10
              = f.text_field :place, class: 'form-control', id: 'inputName'
              %span.help-block 実施場所を入力してください
          .form-group
            = f.label :appeal, class: 'col-lg-2 col-md-2 control-label', for: 'inputName'
            .col-lg-10.col-md-10
              = f.text_area :appeal, placeholder: 'max 100 characters', class: 'form-control', id: 'inputName'
              %span.help-block PR文を入力してください。上限は100字です。
          .form-group
            .col-lg-10.col-lg-offset-2.col-md-10
              = f.submit 'Register', class: 'btn btn-primary'
              = link_to 'destroy', event_path, method: :delete, class: 'btn btn-danger btn-destroy'
