- if @event.errors.any?
  #error-explanation
    .col-xs-4
      %hr.error
    .col-xs-4
      %h3.error
        Error!!
    .col-xs-4
      %hr.error
    %ul
      - @event.errors.full_messages.each do |msg|
        %li
          = msg
.container
  .col-lg-1.col-md-1
  .col-lg-10.col-md-10
    = form_for @event, html: { class: 'form-horizontal' } do |f|
      %fieldset
        %legend
          %h2 Event Information
        .col-lg-2.col-md-2
        .col-lg-8.col-md-8.circle-new
          .form-group
            = f.label :サークル, class: 'col-lg-2 col-md-2 control-label control-label-check', for: 'inputCircle'
            .col-lg-10.col-md-10
              - current_user.circles.each_with_index do |circle, i|
                .col-lg-12
                  - if i == 0
                    = f.radio_button :circle_id, circle.id , { checked: true }
                  - else
                    = f.radio_button :circle_id, circle.id , {}
                  = f.label :"#{circle.name(circle.circle_genre.name)}"
              %span.help-block イベントを投稿するサークルを選択してください
          .form-group
            = f.label :日付, class: 'col-lg-2 col-md-2 date-label', for: 'inputDate'
            .col-lg-10.col-md-10
              = f.date_field :date, class: 'form-control'
              %span.help-block
                日付を入力してください(登録可能期間
                = EventTerm.in_term.start_date.to_s + '〜' + EventTerm.in_term.finish_date.to_s
                )
          .form-group
            = f.label :イベント形式, class: 'col-lg-2 col-md-2 control-label control-label-check', for: 'inputCircle'
            .col-lg-10.col-md-10
              - @event_types.each_with_index do |eve_type, i|
                .col-lg-12
                  - if i == 0
                    = f.radio_button :event_type_id, eve_type.id, { checked: true }
                  - else
                    = f.radio_button :event_type_id, eve_type.id
                  = f.label eve_type.name
              %span.help-block イベントの形式を選択してください
          .form-group
            = f.label :集合場所, class: 'col-lg-2 col-md-2 control-label', for: 'inputName'
            .col-lg-10.col-md-10
              = f.text_field :meeting_place, placeholder: 'ブース前', class: 'form-control', id: 'inputName'
              %span.help-block 集合場所を入力してください
          .form-group
            = f.label :集合時間, class: 'col-lg-2 col-md-2 control-label', for: 'inputName'
            .col-lg-10.col-md-10.form-time
              = f.time_select :meeting_time, {minute_step: 10}, class: 'form-control select-time'
              %span.help-block.form-time 集合時間を入力してください
          .form-group
            = f.label :参加費, class: 'col-lg-2 col-md-2 control-label', for: 'inputName'
            .col-lg-10.col-md-10
              = f.text_field :fee, placeholder: '0', class: 'form-control', id: 'inputName'
              %span.help-block 料金を半角数字で入力してください。単位は省略してください。
          .form-group
            = f.label :実施場所, class: 'col-lg-2 col-md-2 control-label', for: 'inputName'
            .col-lg-10.col-md-10
              = f.text_field :place, placeholder: 'ブース', class: 'form-control', id: 'inputName'
              %span.help-block 実施場所を入力してください
          .form-group
            = f.label :アピール, class: 'col-lg-2 col-md-2 control-label control-label-check', for: 'inputName'
            .col-lg-10.col-md-10
              = f.text_area :appeal, placeholder: '最大100文字', class: 'form-control', id: 'inputName'
              %span.help-block PR文を入力してください。上限は100字です。
          .form-group
            .col-lg-10.col-lg-offset-2.col-md-10
              = f.submit 'Register', class: 'btn btn-primary'
