%header.jumbotron.jumbotron-events-show
  .container
    %h1.jumbotron-h1.show
      %h1.icon
        %span
          = @event.event_type.name
      .clearfix
        %h3.jumbotron-circle-name
          = @event.circle.name
  %hr.hr-circle-name
.under-jumbotron
.container
  .col-lg-2
  .col-lg-8.mypage
    .title
      %h3 Event Information
    %table.table
      %thead
        %tr
          %th.key
          %th.value
      %tbody
        %tr
          %td.key イベントジャンル
          %td.value
            = @event.event_type.name
        %tr
          %td.key サークル名
          %td.value
            = @event.circle.name
        %tr
          %td.key サークルジャンル
          %td.value
            %i{ class: "glyphicon glyphicon-#{@event.circle.circle_genre.genre_icon(@event.circle.lg_genre_name)}" }
            = @event.circle.circle_genre.name
        %tr
          %td.key PR
          %td.value
            = @event.circle.pr
        %tr
          %td.key 日付
          %td.value
            = @event.date.strftime('%m月%d日')
        %tr
          %td.key 集合場所
          %td.value
            = @event.meeting_place
        %tr
          %td.key 集合時間
          %td.value
            = @event.meeting_time.strftime('%H:%M')
        %tr
          %td.key 参加費
          %td.value
            = @event.fee
            yen
        %tr
          %td.key 実施場所
          %td.value
            = @event.place
        %tr
          %td.key イベント内容
          %td.value
            = @event.appeal
    - if user_signed_in?
      - if current_user.id == @event.circle.user_id
        = link_to 'Edit', edit_event_path(id: @event.id), class: 'btn btn-primary event-edit'
    .col-xs-3
    .col-xs-6#fav-btn
      = link_to "https://twitter.com/intent/tweet?text=#{@event.circle.name}%20%7C%20%E3%81%93%E3%81%AE%E3%82%B5%E3%83%BC%E3%82%AF%E3%83%AB%E3%80%81%E6%B0%97%E3%81%AB%E3%81%AA%E3%82%8B%EF%BC%81&hashtags=%E6%96%B0%E6%AD%93MiX&url=#{request.url}", class: 'btn btn-primary btn-share', target: '_blank' do
        = image_tag 'share-twitter.svg', class: 'share-icon'
        シェアする
  .col-lg-2
  .col-lg-12
    .title
      %h3 Presented by
    .col-md-4
    = render partial: 'circles/circle', locals: { circle: @event.circle }
