.col-md-4
  = link_to circle_path(circle), class: 'event' do
    .panel.panel-primary.panel-circle-list
      .panel-heading
        %h3.panel-title
          = circle.name
      .panel-body.panel-appeal
        = circle.pr
      .info-content
        .circle-number
          - ec_id = ECircle.find_by(appeal: circle.appeal, circle_genre_id: circle.circle_genre_id)
          - unless ec_id.nil?
            = image_tag('e_logo.png')
            %span
              No.
              = ec_id.id
        .genre
          = link_to circle_genre_path(id: circle.circle_genre.id) do
            %span{class: "label label-#{circle.circle_genre.genre_label(circle.lg_genre_name)}"}
              = circle.circle_genre.name