%header.jumbotron.jumbotron-show
  .container
    %h1.jumbotron-h1.show
      %h1.icon
        %i{ class: "glyphicon glyphicon-#{@circle.circle_genre.genre_icon(@circle.lg_genre_name)}" }
        %span
          = @circle.circle_genre.name
      .clearfix
        %h3.jumbotron-circle-name
          = @circle.name
  %hr.hr-circle-name
.under-jumbotron
.container
  .col-lg-2
  .col-lg-8.mypage
    .title
      %h3 Circle Information
    %table.table
      %thead
        %tr
          %th.key
          %th.value
      %tbody
        %tr
          %td.key ジャンル
          %td.value
            %i{ class: "glyphicon glyphicon-#{@circle.circle_genre.genre_icon(@circle.lg_genre_name)}" }
            = @circle.circle_genre.name
        %tr
          %td.key キャンパス
          %td.value
            = @circle.campus
        %tr
          %td.key 名前
          %td.value
            = @circle.name
        %tr
          %td.key 名前(かな)
          %td.value
            = @circle.name_kana
        %tr
          %td.key PR
          %td.value
            = @circle.pr
        %tr
          %td.key 加入可能学年
          %td.value
            = @circle.return_grade
        %tr
          %td.key
            ブース設置場所
          %td.value
            = @circle.booth
        %tr
          %td.key メディア
          %td.value.media-value
            - unless @circle.hp.blank?
              = link_to image_tag('hp_icon_active.svg', class: 'icon'), @circle.hp
            - else
              = image_tag('hp_icon.svg', class: 'icon')
            - unless @circle.twitter.blank?
              = link_to image_tag('t_icon_active.svg', class: 'icon'), "https://twitter.com/#{@circle.twitter}"
            - else
              = image_tag('t_icon.svg', class: 'icon')
    .col-xs-3
    .col-xs-6#fav-btn
      = render partial: 'likes/like'
    .col-xs-3.after-fav
    - if @circle.published?
      %h3 Milestone Database
      %p Milestone Express 2016ご登録のサークル様のみ公開される情報です
      %table.table
        %thead
          %tr
            %th.key
            %th.value
        %tbody
          %tr
            %td.key 代表者
            %td.value
              = @circle.chief
          %tr
            %td.key 副代表者
            %td.value
              = @circle.sub_chief
          %tr
            %td.key 人数
            %td.value
              = @circle.all_member if @circle.published?
              (men:
              = @circle.member_male
              women:
              = @circle.member_female
              )
          %tr
            %td.key 創立
            %td.value
              = @circle.since
          %tr
            %td.key 会費
            %td.value
              入会費:
              = @circle.entrance_fee
              yen 会費:
              = @circle.annual_fee
              yen
          %tr
            %td.key 活動
            %td.value
              = @circle.active_weeks
              ・
              = @circle.active_times
          %tr
            %td.key 場所
            %td.value
              溜まり場:
              = @circle.hangout
              %br
              活動場所:
              = @circle.location
          %tr
            %td.key 合宿
            %td.value
              - if @circle.camp == 99999
                有
              - else
                年
                = @circle.camp
                回
          - ec = ECircle.where(pr: @circle.appeal)[0]
          - ps = CirclePoint.where(circle_id: ec.id)
          %tr
            %td.key 会則
            %td.value
              - unless ec.nil?
                - ps.each do |p|
                  - unless p.rule.nil?
                    = p.rule.name
                    %br
          %tr
            %td.key アピールポイント
            %td.value
              - unless ec.nil?
                - ps.each do |p|
                  - unless p.appeal.nil?
                    = p.appeal.name
                    %br
          %tr
            %td.key アピール
            %td.value
              = @circle.appeal
      %hr.span
  .col-lg-2
  .col-lg-12
    .title
      %h3 Events List
    .event-list
      = render partial: 'events/event', collection: @events.order("date ASC")
    .col-xs-12.paginate
      = paginate @events
