%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if controller.controller_name == 'events'
        = link_to image_tag('logo.png', height: '36px'), events_path , class: 'navbar-brand'
      - else
        = link_to image_tag('logo.png', height: '36px'), circles_path , class: 'navbar-brand'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            探す
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to 'サークルを探す', circles_path
            %li
              = link_to '新歓イベントを探す', events_path
        %li
          = link_to "About", about_path
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.nickname
              さん
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                = link_to 'マイページへ', user_path(current_user)
              %li
                = link_to 'サインアウト', destroy_user_session_path, method: :delete
          - if current_user.owner?
            %li.button
              - unless current_user.circles[0].blank?
                = link_to 'イベント登録', new_event_path, class: 'btn btn-primary'
              - else
                = link_to 'サークル登録', new_circle_path, class: 'btn btn-primary'
        - else
          %li
            = link_to 'ログイン', new_user_session_path
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              新規登録
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                = link_to 'サークル様はこちら', new_user_registration_path(status: 1)
              %li
                = link_to '新入生の方はこちら', new_user_registration_path(status: 0)
