!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title 新歓MiX | マイルストーン編集会
    %meta{name:"description", content: 'マイルストーン編集会の発行する早大生向け情報誌『新歓MiX』のWebアプリです'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/favicon'
    = analytics_init if Rails.env.production?
  %body
    = render 'layouts/header'
    - if user_signed_in? && current_user.owner? && current_user.circles.present?
      - unless current_user.booth.present?
        %div{class: "alert alert-warning", role: 'alert'}
          ブース情報が未登録です。マイページのサークル情報の編集ページから登録してください。
    - flash.each do |name, msg|
      - if name == 'error'
        %div{class: "alert alert-danger", role: 'alert'}
          = msg
      - elsif name == 'alert'
        %div{class: "alert alert-warning", role: 'alert'}
          = msg
      - elsif name == 'notice'
        %div{class: "alert alert-success", role: 'alert'}
          = msg
      - else
        %div{class: "alert alert-#{name}", role: 'alert'}
          = msg
    = yield
    %footer
      .container
        .row
          .col-md-6
            %ul.legals
              %li
                = link_to '新歓MiX', circles_path
              %li
                = link_to '利用規約', terms_path
          .col-md-6.credit
            %p
              Presented by
              = link_to 'Milestone Editorial Club', 'http://www.e-mile.com/'
              2016
              無断転載を禁じます。